:root{
--Dark-cyan: hsl(158, 36%, 37%);
--Darker-cyan: hsl(158, 36%, 20%);
--Cream: hsl(30, 38%, 92%);

--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
--font-fraunces: 'Fraunces', serif;
--font-Montesserat: 'Montserrat', sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
 
  html, body {
    height: 100%;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
 
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
html{
    box-sizing: border-box;
 
    font-size: 14px;
    
}
body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Cream);
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}
.card{
    display: flex;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 0px 24px 8px #BFBFBF; 
    box-shadow: 0px 0px 24px 8px #BFBFBF;
    overflow: hidden;
    margin: 5% 5% auto;
    flex-direction: column;
    
}
.image-card{
    display: flex;
    flex-basis: 50%;
}

.detail-card{
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/

    --content-padding:1.5rem;
    --content-spacing: 1rem;

    display: grid;
    gap: var(--content-spacing);
    padding: var(--content-padding);
    color: var(--Dark-grayish-blue);
}
.category{
    font-size: 0.8125rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card-title{
    font-size: 2rem;
    font-family: var(--font-fraunces) ;
    color: var(--Very-dark-blue);
}
.price-group{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
.visually-hidden:not(:focus):not(:active){
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.price-primary{
    font-size: 2rem;
    font-family: var(--font-fraunces);
    color: var(--Dark-cyan);
}
.button{
    cursor: pointer;
    background-color: var(--Dark-cyan);
    text-decoration: none;
    border-radius: 0.5rem;
    display: inline-flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    padding: 0.75em 1.5em;
    border: 0;
    color: var(--White);
    font-weight: 700;
    font-size: 0.925rem;
}
.button:is(:hover, :focus){
    background-color: var(--Darker-cyan);
}
.button[data-icon="shopping-cart"]::before{
    content: "";
    background-image: url(./images/icon-cart.svg) ;
    height: 15px;
    width: 16px;
}

@media (min-width: 600px){
    
    .product{
        display: flex;
        flex-direction: row;
        max-width: 610px;
    }
    .image-card{
        display: flex;
        flex-basis: 50%;
    }
    .detail-card{
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        flex: 1;
        
        align-items: stretch;
        justify-content: center;
        
    }
}